@import url('https://fonts.googleapis.com/css?family=Lato:100,300|Open+Sans:300,400&display=swap');

html {
  font-size: 62.5%;
}

body {
  color: white;
  font-weight: 100;
  font-family: 'Open Sans', sans-serif;
  font-size: 2.2rem;
  background: radial-gradient(circle, rgba(13,31,92,1) 10%, rgba(7,9,43,1) 100%);
  min-width: 600px;
}

.wrapper {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
}

.crystal {
  font-size: calc(5rem + 1vw);
}

h1 {
  font-size: calc(5rem + 2vw);
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 2rem 4rem 2.7rem;
  border: 0.4rem solid #fff;
  text-transform: uppercase;
  text-align: center;
  animation: flicker 30s infinite alternate;
  border-radius: 20px;
}

h1::-moz-selection {
  background-color: #08f;
  color: #f40;
}

h1::selection {
  background-color: #08f;
  color: #f40;
}

h1:focus {
  outline: none;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-shadow:
    -0.2rem -0.2rem 0.7rem #fffa,
    0.2rem 0.2rem 0.7rem #ff00deaa,
    0 0 2rem #ff00de,
    0 0 4rem #ff00de,
    0 0 6rem #ff00de,
    0 0 8rem #ff00de,
    0 0 10rem #ff00de;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

input[type="text"] {
  width: 100%;
  background: #fff1;
  border: none;
  text-align: center;
  color: #fff;
  font-size: 2.5rem;
  margin-right: 10px;
}


input[type="submit"] {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  padding: 5px 30px;
  text-transform: uppercase;
  border: 2px solid #FFFC;
  border-radius: 5px;
  word-break: break-all;
}

input[type="submit"]:hover {
  animation: flicker 20s infinite alternate-reverse;
}

.listBox {
  border: 2px solid rgb(173, 173, 173);
  background: black;
  /* border-radius: 10px; */
  box-shadow:
    0 0 .5rem #fff,
    inset 0 0 .5rem #fff,
    0 0 3rem rgb(6, 15, 44),
    inset 0 0 3rem rgb(6, 15, 44),
    0 0 5rem rgb(6, 15, 44),
    inset 0 0 5rem rgb(6, 15, 44);
  padding: 3rem 4rem;
}

.choices {
  margin-bottom: 40px;
  text-align: center;
}

main p {
  color: white;
  text-align: center;
  font-size: 2.3rem;
  text-shadow:
    -0.2rem -0.2rem 0.7rem #08f,
    0.2rem 0.2rem 0.7rem #08f,
    0 0 2rem #08f,
    0 0 4rem #08f,
    0 0 6rem #08f,
    0 0 8rem #08f,
    0 0 10rem #08f;
}

label:nth-of-type(2) {
  margin-left: 30px;
}

.restaurant {
  animation: result 1.5s infinite;
}

/* Animate neon flicker */
@keyframes flicker {

    0%, 19%, 20%, 20.4%, 21.1%, 23%, 29.5%, 54%, 54.6%, 78%, 78.4%, 100% {
        text-shadow:
            -0.2rem -0.2rem 1rem #fff,
            0.2rem 0.2rem 1rem #fff,
            0 0 2rem #ff00de,
            0 0 4rem #ff00de,
            0 0 6rem #ff00de,
            0 0 8rem #ff00de,
            0 0 10rem #ff00de;

        box-shadow:
            0 0 .5rem #fff,
            inset 0 0 .5rem #fff,
            0 0 2rem #08f,
            inset 0 0 2rem #08f,
            0 0 4rem #08f,
            inset 0 0 4rem #08f;
    }

    19.5%, 20.2%, 20.7%, 24%, 54.2%, 78.2% {
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes result {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}
